

.container {
    height: 500px;
    max-width: 1500px;  
    background-image: url('../../../assets/Publicidad-para-un-restaurante.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 0;
}



.back{
    justify-content: center;
    text-align: center;
    height: 100%;
    padding-top: 100px;
    background-color: rgba(0, 0, 0, 0.600);
    margin-left: 0;
    margin-right: 0;

}


.container .back h2{
    padding: 20px;
    font-size: 60px;
    text-transform: uppercase;
    color: #fff;
}

.back p {
    text-align: justify;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    color: #fff;
    font-size: 20px;
    padding-bottom: 10px;
}

.btn-1 {
    display: inline-block;
    padding: 15px 35px;
    border: 2px solid red;
    font-weight: 500;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-right: 20px;
    border-radius: 50px;
}


.btn-1 a {
    background-color: rgba(0, 0, 0, 0.636) ;
    cursor: pointer;
}


.btn-1:hover {
    background-color: red;
    color: rgb(250, 249, 249);


}

.list-items{
    padding-left: 40px;
    padding-right: 40px;
}