<section>

    <div class="container">
        <div class="back">
            <h2> <Span style="color: rgb(179, 209, 227);">WELCOME TO </Span><span
                    style="color: orange;">Feast</span>-Fleet</h2>
            <p> Descubre experiencias gastronómicas excepcionales y reserva tu mesa con facilidad. Explora una variedad
                de
                restaurantes, desde sabores clásicos hasta innovadoras creaciones culinarias. Tu próxima deliciosa
                experiencia comienza aquí. ¡Reserva ahora y disfruta de momentos memorables en cada bocado!</p>

        </div>
    </div>

</section>


<section class="list-items">
    <header>
        <h3>most searched restaurants</h3>
    </header>

    <div class="slider">
        <app-slider></app-slider>
    </div>


</section>
