<div class="container">
    <div class="back">
        <h2><span style="color: orange;">Feast</span>-Fleet</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Exercitationem praesentium ea quibusdam molestias.
            Eum,
            obcaecati ad! Fuga nobis inventore facere veritatis ipsam ab dignissimos necessitatibus, quaerat saepe illum
            laudantium molestiae!</p>
        <div class="botones">
            <div class="btn-1">
                <a href="#">Make your reservation</a>
            </div>
            <div class="btn-1">
                <a href="#">view all restaurant</a>

            </div>
        </div>
    </div>




</div>