nav{
    display: flex;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.988);
    position: relative;
    justify-content: space-between;
    text-align: center;

    padding: 20px 30px;
}
nav .logo{

    font-size: 35px;
    font-weight: 800;
    color: rgb(240, 146, 5);
    cursor: pointer;
    margin: auto 0;
}

nav ol{
    display: flex;
    list-style: none;
    margin: auto 0 ;
 
}

nav ol li{
    margin: auto 0;
  
}

nav ol li a{
    color: rgb(255, 255, 255);
    font-size: 20px;
    text-decoration: none;
    text-transform: capitalize;
    letter-spacing: 1px;
    padding: 5px 10px;

}

nav .icon{
    align-items: center;
    padding: 10px;
    font-size: 25px;
    color: #fcfafa;
    cursor: pointer;
}

nav .icon:hover{
    color: purple;

}

nav ol li:hover a{
    color: rgb(231, 155, 41)
}

nav .search-box{
    display: flex;
    margin: auto 0;
    height: 35px;
    line-height: 35px;
    border: 1px solid transparent;
    transition: border-color;
}

nav .search-box:hover{
    border-color: orange;
}

nav .search-box input{
    border: none;
    outline: none;
    background: #fff;
    height: 100%;
    padding: 0 10px;
    font-size: 20px;
    width: 350px;
    border-radius:10px 0 0 10px;

}

nav .search-box span{
    color: black ;
    font-size: 20px;
    background: #fff;
    height: 100%;
    padding: 8px;
    position: relative;
    cursor: pointer;
    z-index: 1;
}

nav .search-box span:hover{
    color: #fff;

}
nav .search-box span::after{
    height: 100%;
    width: 0%;
    content: '';
    background: #e46969;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    transition: 0.3s;
}

nav .search-box span:hover::after{
    width: 100%;
}

nav .bar {
    position: relative;
    margin: auto;
    display: none;

}



nav .bar span{
    position: absolute;
    color: orange;
    font-size: 30px ;
}

input[type ="checkbox"]{
    -webkit-appearance: none;
    display: none;
}


@media screen and (max-width: 1250px){
    nav{
        display: block;
        padding: 0;
    }

    nav .logo {
        display: inline-block;
        padding: 15px 30px;
    }

    nav .search-box{
        width: 100%;
        display: inline-flex;
        justify-content: center;
        margin-bottom: 15px;
    }

    nav .search-box input{
        width: 90%;
    }

    nav ol{
        display: flex;
        flex-direction: column;
        background: #fff;
        height: 0;
        visibility: hidden;
        transition: 0.3s;
    }

    nav ol li{
        text-align: center;
        text-align: center;    
        transition: 0.3s 0.1s all;
        opacity: 0;
    }

    nav ol li a{
        color: black;
        font-size: 28px;
        padding: 10px;
        display: block;
    }
    nav ol li:nth-child(1){
        transform: translateX(-150px);
    }
    nav ol li:nth-child(2){
        transform: translateX(-200px);
    }  
    nav ol li:nth-child(3){
        transform: translateX(-250px);
    }  
    nav ol li:nth-child(4){
        transform: translateX(-300px);
    }

    nav .bar {
        display: block;
        position: absolute;
        top: 10px;
        right: 80px;
        cursor: pointer;
    }

   

    nav .bar #times{
        display: none;
    }

    #check:checked ~ nav .bar #times{
        display: block;
    }

    #check:checked ~ nav .bar #bars{
        display: none;
    }

    #check:checked ~ nav ol{
        visibility: visible;
        height: 250px;
    }
    #check:checked ~ nav ol li:nth-child(1),
    #check:checked ~ nav ol li:nth-child(2),
    #check:checked ~ nav ol li:nth-child(3), 
    #check:checked ~ nav ol li:nth-child(4){
        transform: translateY(0);
        opacity: 1;


    }
}




