
<input type="checkbox" name="" id="check">
<nav>
    <div class="logo">Feast Fleet</div>
    <div class="search-box">
        <input type="search" placeholder="Ingrese su busqueda">
        <span class="fas fa-search"></span>
    </div>

    <ol>
        <li><a href="#">Home</a></li>
        <li><a href="#">Restaurant</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="#">Login</a></li>

    </ol>

    <ol>
        <div class="icon">
            <span class="fas fa-user"></span>
        </div>
    </ol>

   
    
    <label for="check" class="bar">
        <span class="fas fa-bars" id="bars"></span>
        <span class="fas fa-times" id="times"></span>

    </label>
</nav>

