
<div *ngIf="viewComponenteFather">
    <div class="text">
        <h2>All restaurant</h2>
    </div>

    <div class="restaurantes">
        <div class="mostrador" id="mostrador">
            <div class="row">
                <div class="col-12 col-sm-6 col-md-4 col-lg-3" *ngFor="let items of listRestaurant; let i = index">
                    <div class="item" (click)="selectRestautant(items)">
                        <div class="contenetor-foto" >
                            <app-img *ngIf="items.image.length > 0 " [img]="items.image[0].imageUrl" ></app-img>
                        </div>
                        <div class="informacion">
                            <div class="info-1">
                                <span class="name">{{items.name}}</span>
                                <span>
    
                                    <li class="fa-regular fa-star"></li>
    
                                    {{items.calification}}/5
    
                                </span>
                            </div>
                            <div class="info-2">
                                <span class="direccion">{{items.description}}</span><br>
                                <span class="tipo-cocina">
                                    {{items.cookType}}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div>
    <app-restaurant-details *ngIf="selectedRestaurant" [restaurant]="selectedRestaurant"></app-restaurant-details>
</div>
