<div class="login">
    <div class="container main">
        <div class="row">
            <div class="col-md-6 side-text">
                <div class="text">
                    <span class="span1">Feast</span>
                    <span class="span2">Fleet</span>
                </div>
            </div>

            <div class="col-md-6 rigth">
                <div class="input-box">
                    <span class="tittle">Login In</span>
                    <form action="">
                        
                        <div class="input-file">
                            <label>UserName</label>
                            <input type="text" class="input">
                        </div>

                        <div class="input-file">
                            <label>Password</label>
                            <input type="password" class="input">
                        </div>

                        <div class="input-file">
                            <input type="submit" class="submit" value="Login In">
                        </div>

                        <div class="Sign-Up">
                            <span>¿No tienes cuenta?</span>
                            <a href="#">Cree una</a>
                        </div>  
                    </form>
                </div>
            </div>
        </div>

    </div>

</div>