<div class="container">
    <div class="back">
        <h2><span style="color: orange;">Feast</span>-Fleet</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Exercitationem praesentium ea quibusdam molestias.
            Eum,
            obcaecati ad! Fuga nobis inventore facere veritatis ipsam ab dignissimos necessitatibus, quaerat saepe illum
            laudantium molestiae!</p>
        <div class="botones">
            <div class="btn-1">
                <a href="#">Make your reservation</a>
            </div>
            <div class="btn-1">
                <a href="#">view all restaurant</a>

            </div>
        </div>
    </div>

</div>

<div class="text">
    <h2>All restaurant</h2>

</div>
<div class="restaurantes">
    <div class="mostrador" id="mostrador">
        <div class="fila">
            <div class="item" (click)="mostrarSeleccion()">
                <div class="contenetor-foto">
                    <img src="../../../assets/pexels-photo-262047.jpeg" alt="">
                </div>

                    <a href="" class="descripcion">Nombre Restaurante</a><br>
                    <span class="direccion">Direccion</span><br>
                    <span class="tipo-cocina">Tipo de cocina</span>


            </div>
            
            <div class="item">
                <div class="contenetor-foto">
                    <img src="../../../assets/pexels-photo-262047.jpeg" alt="">
                </div>
                    <a href="" class="descripcion">Nombre Restaurante</a><br>
                    <span class="direccion">Direccion</span><br>
                    <span class="tipo-cocina">Tipo de cocina</span>
            </div>

             <div class="item">
                <div class="contenetor-foto">
                    <img src="../../../assets/pexels-photo-262047.jpeg" alt="">
                </div>
                    <a href="" class="descripcion">Nombre Restaurante</a><br>
                    <span class="direccion">Direccion</span><br>
                    <span class="tipo-cocina">Tipo de cocina</span>
            </div>


                <div class="item">
                <div class="contenetor-foto">
                    <img src="../../../assets/pexels-photo-262047.jpeg" alt="">
                </div>
                    <a href="" class="descripcion">Nombre Restaurante</a><br>
                    <span class="direccion">Direccion</span><br>
                    <span class="tipo-cocina">Tipo de cocina</span>
            </div>
        </div>

        <div class="fila">
            <div class="item" (click)="mostrarSeleccion()">
                <div class="contenetor-foto">
                    <img src="../../../assets/pexels-photo-262047.jpeg" alt="">
                </div>

                    <a href="" class="descripcion">Nombre Restaurante</a><br>
                    <span class="direccion">Direccion</span><br>
                    <span class="tipo-cocina">Tipo de cocina</span>


            </div>
            
            <div class="item">
                <div class="contenetor-foto">
                    <img src="../../../assets/pexels-photo-262047.jpeg" alt="">
                </div>
                    <a href="" class="descripcion">Nombre Restaurante</a><br>
                    <span class="direccion">Direccion</span><br>
                    <span class="tipo-cocina">Tipo de cocina</span>
            </div>

             <div class="item">
                <div class="contenetor-foto">
                    <img src="../../../assets/pexels-photo-262047.jpeg" alt="">
                </div>
                    <a href="" class="descripcion">Nombre Restaurante</a><br>
                    <span class="direccion">Direccion</span><br>
                    <span class="tipo-cocina">Tipo de cocina</span>
            </div>


                <div class="item">
                <div class="contenetor-foto">
                    <img src="../../../assets/pexels-photo-262047.jpeg" alt="">
                </div>
                    <a href="" class="descripcion">Nombre Restaurante</a><br>
                    <span class="direccion">Direccion</span><br>
                    <span class="tipo-cocina">Tipo de cocina</span>
            </div>
        </div>
        <div class="fila">
            <div class="item" (click)="mostrarSeleccion()">
                <div class="contenetor-foto">
                    <img src="../../../assets/pexels-photo-262047.jpeg" alt="">
                </div>

                    <a href="" class="descripcion">Nombre Restaurante</a><br>
                    <span class="direccion">Direccion</span><br>
                    <span class="tipo-cocina">Tipo de cocina</span><br>
                    <span>
                        <li class="fa-regular fa-star"></li>
                        <li class="fa-regular fa-star"></li>
                        <li class="fa-regular fa-star"></li>
                        <li class="fa-regular fa-star"></li>
                        <li class="fa-regular fa-star"></li>

                    </span>


            </div>
            
            <div class="item">
                <div class="contenetor-foto">
                    <img src="../../../assets/pexels-photo-262047.jpeg" alt="">
                </div>
                    <a href="" class="descripcion">Nombre Restaurante</a><br>
                    <span class="direccion">Direccion</span><br>
                    <span class="tipo-cocina">Tipo de cocina</span>
            </div>

             <div class="item">
                <div class="contenetor-foto">
                    <img src="../../../assets/pexels-photo-262047.jpeg" alt="">
                </div>
                    <a href="" class="descripcion">Nombre Restaurante</a><br>
                    <span class="direccion">Direccion</span><br>
                    <span class="tipo-cocina">Tipo de cocina</span>
            </div>


                <div class="item">
                <div class="contenetor-foto">
                    <img src="../../../assets/pexels-photo-262047.jpeg" alt="">
                </div>
                    <span class="descripcion">Nombre Restaurante</span><br>
                    <span class="direccion">Direccion</span><br>
                    <span class="tipo-cocina">Tipo de cocina</span>
            </div>
        </div>
    </div>


    <div class="seleccion" id="seleccion" *ngIf="mostrarInfo">
        <div class="cerrar" (click)="cerrar()">
            &#x2715;
        </div>
        <div class="info">
            <img src="../../../assets/pexels-photo-791810.jpeg" alt="" id="img">
            <h2 id="modelo">NOMBRE DE RESTAURANTE</h2>
            <p id="descripcion">Descripcion del restaurante</p>


            <div class="row caja">
                <div class="col-6 columna1">
                    <span for="">Calificacion</span>
                    <div class="calificacion">
                        <li class="fa-regular fa-star"></li>
                        <li class="fa-regular fa-star"></li>
                        <li class="fa-regular fa-star"></li>
                        <li class="fa-regular fa-star"></li>
                        <li class="fa-regular fa-star"></li>

                    </div>




                </div>
                <div class="col-6 columna 2">
                    <span class="categoria">Categorias</span>
                    <ul>
                        <li>Categoria 1</li>
                        <li>Categoria 3</li>
                    </ul>

                </div>

            </div>
            <button class="btn">Reserva Aqui</button>

            <div class="comentarios">
                <h3>Comentarios de clientes</h3>
                <span>Nombre del cliente</span>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Nihil reiciendis voluptates asperiores, aspernatur eum sequi fuga non, 
                    aliquid optio eligendi voluptate necessitatibus veritatis illum.
                     Consequuntur voluptates nesciunt magni aperiam omnis!</p>

                     <div class="ingresar-comentario">
                        <input type="" placeholder="Ingrese un nuevo comentario">
                        <button class="guardar"><img src="../../../assets/send.svg" alt=""></button>
                     </div>

            </div>

        </div>

    </div>




</div>