<div class="container">
  <p>Hola, bienvenido ADMIN </p>
  <p>Aquí administrarás todos los restaurantes</p>
  <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#exampleModal"><span
      class="fa-solid fa-floppy-disk"></span></button>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Registrar Restante</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form action="">

            <div class="row">
              <div class="col-6">
                <label for="" class="form-label">Ingrese Id del restaurante</label>
                <input type="text" class="form-control" required>
              </div>
              <div class="col-6">
                <label for="" class="form-label">Nombre del restaurante</label>
                <input type="text" class="form-control" required>
              </div>
            </div>

            <div class="row">
              <div class="col-6">
                <label for="" class="form-label">Tipo de cocina</label>
                <input type="text" class="form-control" required>
              </div>
              <div class="col-6">
                <label for="" class="form-label">Direccion</label>
                <input type="text" class="form-control" required>
              </div>
            </div>

            <div class="row">
              <div class="col-6">
                <label for="" class="form-label">Descripcion</label>
                <textarea name="" id="" cols="30" class="form-control" rows="3"></textarea>
              </div>
              <div class="col-6">
                <label for="" class="form-label">Imagenes</label>
                <input type="file" class="form-control" multiple required>
              </div>
            </div>

            <div class="row">
              <div class="col-12">
                <label for="" class="form-label">Seleccione las categorias</label>
              </div>
            </div>

            <div class="form-check" *ngFor="let cat of listCategory">
              <input class="form-check-input" type="checkbox" [value]="cat.name" id="defaultCheck1">
              <label class="form-check-label" for="defaultCheck1">
               {{cat.name}} 
              </label>
            </div>



          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-12">

      <mat-card>
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

          <!-- Id Column -->
          <ng-container matColumnDef="restaurantId">
            <th mat-header-cell *matHeaderCellDef> Id </th>
            <td mat-cell *matCellDef="let element"> {{element.restaurantId}} </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
          </ng-container>

          <!-- Cook Type Column -->
          <ng-container matColumnDef="cookType">
            <th mat-header-cell *matHeaderCellDef> Cook Type </th>
            <td mat-cell *matCellDef="let element"> {{element.cookType}} </td>
          </ng-container>

          <!-- Address Column -->
          <ng-container matColumnDef="address">
            <th mat-header-cell *matHeaderCellDef> Address </th>
            <td mat-cell *matCellDef="let element"> {{element.address}} </td>
          </ng-container>

          <!-- Options Column -->
          <ng-container matColumnDef="options">
            <th mat-header-cell *matHeaderCellDef> Options </th>
            <td mat-cell *matCellDef="let element">
              <button class="btn btn-warning"><span class="fa-solid fa-pen-to-square"></span></button> |
              <button class="btn btn-danger" (click)="deleteRestaurant(element.restaurantId)"><span
                  class="fa-solid fa-trash"></span></button>
            </td>
          </ng-container>

          <!-- Definición de filas -->
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <!-- Paginador -->
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of restaurants">
        </mat-paginator>
      </mat-card>

    </div>
  </div>
</div>

<div class="tabla">
  <!-- Puedes agregar contenido adicional aquí si es necesario -->
</div>