<div class="container">
    <p>Hola, bienvenido ADMIN </p>
    <p>Aquí administrarás todos los restaurantes</p>
  
    <div class="row">
      <div class="col-12">
  
        <mat-card>
          <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  
            <ng-container matColumnDef="restaurantId">
              <th mat-header-cell *matHeaderCellDef> Id </th>
              <td mat-cell *matCellDef="let element"> {{element.restaurantId}} </td>
            </ng-container>
  
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef> Name </th>
              <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>
  
            <ng-container matColumnDef="cookType">
              <th mat-header-cell *matHeaderCellDef> Cook Type </th>
              <td mat-cell *matCellDef="let element"> {{element.cookType}} </td>
            </ng-container>
  
            <ng-container matColumnDef="address">
              <th mat-header-cell *matHeaderCellDef> Address </th>
              <td mat-cell *matCellDef="let element"> {{element.address}} </td>
            </ng-container>
  
            <ng-container matColumnDef="options">
                <th mat-header-cell *matHeaderCellDef> Options </th>
                <td mat-cell *matCellDef="let element">
                  <button class="btn btn-warning"><span class="fa-solid fa-pen-to-square"></span></button> | 
                  <button class="btn btn-danger" (click)="deleteRestaurant(element.restaurantId)"><span class="fa-solid fa-trash"></span></button>
                </td>
              </ng-container>
  
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
  
          <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of restaurants">
          </mat-paginator>
        </mat-card>
  
      </div>
    </div>
  </div>
  
  <div class="tabla">
  </div>


